{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}Member Panel - {{ parent() }}{% endblock %}

{% block content %}
<br><br><br>
<h1>Hello {{member.firstName}}</h1>

<p>Thank you for registering with Just 2. You have 30 days to post your job advertisement or access candidate’s profile (excluding VIP ROOM).<br>
For more information on membership pricing or contact our Customer Service team on 1300 800 800.</p>

<button>Date Search</button>
<button>Venue Search</button>
<button>My Profile</button>
<br>

<!-- <h3>Search History</h3>

<select>
	<option>Last Selected Search History</option>
</select>-->

<h3>Message Board</h3>

<h4>Your Messages</h4>
{% if message %}
	<p>You have new messages</p>
	{% for m in message %}
		{{m.memberOf.firstName}}<br>
		{{m.bodyMessage}}<br>
		{{m.createdAt|date()}}<br>
	{% endfor %}
{% else %}
	<p>You have no unread messages</p>
{% endif %}
<button>Mailbox</button>

<h3>Watching</h3>

{% for i in interests %}
	{#i.id#}
	{% for m in getMembers(member.id,i.id) %}
		<a href="{{ path('user_view_show', { 'id': m.id }) }}"><img src="/images_user/{{m.user.face}}png"></a><br>
		{{m.firstName}}<br>
	{% endfor %}
{% endfor %}

<h3>Your Date History</h3>

{% if date %}
	<h4>Current Date</h4>
	<img src="/images_user/{{winner.winningMember.user.face}}png"><br>
	Dating Partner: {{winner.winningMember.firstName}} {{winner.winningMember.lastName}}<br>
	Venue: {{reservation.venue.name}}<br>
	Confirmation Number: {{reservation.codeReservation}}<br>
	Ocassion: {{date.detailDate}}<br>
	<button>Print Confirmation</button>
{% else %}
	<p>You have no confirmed dates</p>
{% endif %}

{% endblock %}