{# empty Twig template #}

{# register.html.twig #}

{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}View Ended Date Just {{date.id}}{% endblock %}


{% block content %}

<div class="bid">
    {%if info%}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Info!</strong> 
        {{info}}
    </div>
    {%endif%}

    <div id="form2">
        <!-- Título del formulario -->        
        <input name="watchlist" type="checkbox" value="yes" />
        Add to watchlist | {{date.member.firstName}} <a href="{{ path('user_view_show', {'id': date.member.id }) }} ">see profile</a>
    </div>
    <div id="form3">
        <!-- Título del formulario -->
        <div>
            Current Bid: AU ${{auction.winningBid}}
        </div>
    </div>
    {% if date.member.user.face %}
        <img src="/images_user/{{date.member.user.face}}"  style="padding-top: 20px;" width="100" height="100" />
    {% else %}
        <img src="/images_user/default.png"  style="padding-top: 20px;" width="100" height="100" />
    {% endif %}
    <p>
        Venue: {{date.venue.name}} <br>
        When: {{date.dateEnd | date()}}<br>
    </p>
    <div id="form4">
        Occasion: {{date.ocassion.name}}        
    </div>
    <p>
        Bid end date: Finished<br>
        Location: {{date.venue.country.name}}, {{date.venue.department.name}} <br>
        Number of bids: {{totalbids}} <br>
    </p>
</div>

<div id="botones">
    <p>
        This date has ended ${{auction.winningBid}}
        {% if date.estate != 6 %}
            <a href="{{ path('message_new', { 'id': date.id , 'for': date.member.id }) }}">Congratulation! go dating with Cheryl</a>
            <a href="#"><img src="/bundles/just2frontend/images/bot6_60.gif" width="117" height="32" /></a>
        {% endif %}
    </p>
    <br><br><br >
</div>
<div id="next">
    <h1>WHAT’S NEXT?</h1>
    <p>&nbsp;</p>
    <p>
        The venue has been booked and reserved for you and your date.
        You can now contact:
        {{date.member.firstName}} to confirm your date within the next 3 days.
        {{date.venue.name}} to confirm your booking within the next 3 days.
        If you wish to change the time and date, please contact your date and venue.
        Then Print your confirmation letter and bring it with you on your date to verify you.
        Good luck and happy dating!
    </p>
    <p><a href="{{ path('date_pdf', { 'id': date.id }) }}"><img src="/bundles/just2frontend/images/bot7_62.gif" width="197" height="42" /></a></p>
</div>

{% endblock %}

