{# register.html.twig #}

{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}View Ended Date Just{% endblock %}




{% block content %}
<script src="{{ asset('bundles/just2frontend/js/message.js') }}"></script>
<div class="row">
    <div class="span2" style="text-align: center">
    {%if not app.user.face%}

            <img src="/images_user/{{app.user.face}}"  style="padding-top: 20px;" />

        {%else%}
            <img src="/images_user/default.png"  style="padding-top: 20px;" />
        {%endif%}

        </div>


        <div class="span10">
            <h3>Received Message</h3>

            <table class="table table-bordered table-message" style="font-size: 12px" >
                <thead>
                    <tr>

                        <th>Member</th>
                        <th>Message</th>

                        <th>Action</th>

                    </tr>
                </thead><tbody>
     {%for message in messagesIn%}           

                        <tr id="tr_{{message.id}}"  {%if message.estate == 1 %} class="message_new"{%else%} class="message_read"{%endif%}>
                            <td>{{message.memberOf}}</td>
                            <td class="messege_body_td" onClick="readMessage('{{message.subject}}','{{message.bodyMessage}}',{{message.id}},{{message.estate}})"><div class="mesagge_title">{{message.subject}}</div><div class="message_body">{{message.bodyMessage(100)}} => {{message.createdAt|time_ago}}</div></td>
                            <td>
                                <a href="?action=2&message={{message.id}}" title="Reply" class="btn btn-mini btn-info tooltips">
                                    <i class="icon-share-alt icon-white"></i>
                                </a>
                                    {%if message.estate == 1 %}
                                <a href="?action=1&message={{message.id}}" title="Mark as Read" class="btn btn-mini btn-success  tooltips">
                                    <i class="icon-check icon-white"></i>
                                </a>
                                    {%endif%}
                                    <a title="Delete" onclick="deleteMessage({{message.id}},'{{message.subject}}')" class="btn btn-mini btn-danger tooltips">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>

                   {%endfor%}</tbody>
                </table>
            {{ knp_pagination_render(messagesIn) }}
            </div>
            
            </div>

            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Modal header</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </div>
{%endblock%}

