{# register.html.twig #}

{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}View {{date.id}}{% endblock %}


{% block content %}
    
<div class="bid">
    {%if info%}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Info!</strong> 
        {{info}}
    </div>
    {%endif%}

    <!-- Título del formulario -->
    <div id="form2">
        <input name="watchlist" type="checkbox" value="yes" />
        Add to watchlist | {{date.member.firstName}} <a href="{{ path('user_view_show', {'id': date.member.id }) }} ">see profile</a>
    </div>
    
    <!-- Título del formulario -->
    <div id="form3">
        Current Bid: AU ${%if highestBid(date.id)%}{{highestBid(date.id)}}{%else%}{{date.minprice}}{%endif%} |  
        <form class="form-inline" action="{{ path('bid_create_for_user') }}" method="post" {{ form_enctype(formbid) }} >            
            Enter your bid (${%if highestBid(date.id)%}{{highestBid(date.id)+5}}{%else%}{{date.minprice+5}}{%endif%} or more):
            {{ form_widget(formbid.price) }}
            {{ form_widget(formbid.dateJust, { 'attr': {'style' : 'display:none'} }) }}
            {{ form_rest(formbid) }}
            <button type="submit" id="placebid">Place bid</button>
        </form>
    </div>

    {% if date.member.user.face %}
        <img src="/images_user/{{date.member.user.face}}png" width="100" height="100" />
    {% else %}
        <img src="/images_user/default.png"  style="padding-top: 20px;" />
    {% endif %}

    <p>
        Venue: Revealed to winning bidder <br>
        When: {{date.dateEnd | date_modify("+1 day") | date()}}<br>
        Occasion: {{date.ocassion.name}}<br>
        Bid end date: {{date.dateEnd | date()}}<br>
        Time remaining: {{date.dateEnd|time_ago }} <br>
        Location: {{date.venue.country.name}}, {{date.venue.department.name}} <br>
        Number of bids: {{totalbidsfordate(date.id)}} <br>
    </p>

    {% if not mybiddate %}{% else %}
    <div class="span2" >
        <div style="margin-top:10">
            <b>Your Bid</b><br>
            Date: {{mybiddate.createdAt  | date()}} <br>
            Bid : $ {{mybiddate.price}}.00 <br>
            Estate: {{estatebid(mybiddate.estate)}}
        </div>
    </div>
    {% endif %}
</div>

<div id="myprofile">
    <h1>+ My Profile</h1>
    <p>
        Gender: {{date.member.gender}} <br>
        D.O.B: {{date.member.dateOfBirth|date('M d, Y')}}<br>
        <!-- Age: 38<br> -->
        Height: {{ date.member.height }} cm<br>
        Eye Colour: {{ date.member.eyeColour }} <br>
        Hair Colour: {{ date.member.hairColour }} <br>
        <!-- Nationality: Maltease <br> -->
        Location: {{ date.member.state }} <br>
        Country: {{ date.member.country }} <br>
        Smoker: {{ date.member.smoker }} <br>
        Children: {{ date.member.children }} <br>
        Relationship: {{ date.member.relationship }} <br>
        Profession: {{ date.member.profession }} <br>
        Personality: Date me and find out<br>
    </p>    
</div>
{% endblock %}

