{# register.html.twig #}

{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}View {{date.id}}{% endblock %}


{% block content %}

<div class="bid">
    {%if info%}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Info!</strong> 
        {{info}}
    </div>
    {%endif%}

    <!-- Título del formulario -->
    <div id="form2">
        <input name="watchlist" type="checkbox" value="yes" />
        Add to watchlist | {{date.member.firstName}} <a href="{{ path('user_view_show', {'id': date.member.id }) }} ">see profile</a>
    </div>
    
    <!-- Título del formulario -->
    <div id="form3">
        Current Bid: AU $ -            
    </div>

    {% if date.member.user.face %}
        <img src="/images_user/{{date.member.user.face}}png" width="100" height="100" />
    {% else %}
        <img src="/images_user/default.png"  style="padding-top: 20px;" />
    {% endif %}

    <p>
        Venue: {{date.venue.name}} <br>
        When: {{date.dateEnd | date()}}<br>
        Occasion: {{date.ocassion.name}}<br>
        Bid end date: Ended<br>
        Time remaining: {{date.dateEnd|time_ago }} <br>
        Location: {{date.venue.country.name}}, {{date.venue.department.name}} <br>
        Number of bids: 0 <br>
    </p>

</div>

{% endblock %}