{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block script %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="{{ asset('js/select_dependientes.js') }}"></script>

{% endblock %}

{% block title %}Venue Search {{ parent() }}{% endblock %}

{% block content %}

<div id="searchvenue">
	<form {{ form_enctype(form) }} action="" method='post' id="form1">
		<!-- Título del formulario -->
	    <div><h1></h1></div>

		<!-- Campo de texto: Nombre -->
	    <div>
			{#{ form_widget(form.categoryocassion, { 'attr': {
				'placeholder' : 'Type your name...',
				'onChange' : 'cargaContenido(this.id)',			
				} }) 
			}#}	    
	    </div>

	    <div>
	    	{{ form_widget(form.ocassion) }}
	    </div>

	    <div>
	    	{{ form_widget(form.suburb) }}
	    </div>

	    <div>
	    	{{ form_widget(form.distance) }}
	    	<input name="code" type="text" id="code" value="post code" />
	    </div>
	    {{ form_widget(form._token) }}

	    <div>
			<label for="allstates">  Include international venues </label>
			<input name="allstates1" type="checkbox" disabled="disabled" value="Included" checked="CHECKED" />
	    </div>

	    <div><a href="#">+ Advanced Search </a></div>

	    <div>
	      <button class="enviar" type="submit">SEARCH </button>
	    </div>
	</form>

	<img src="/bundles/just2frontend/images/picvenue_29.jpg" width="422" height="225" />
</div>

{% endblock %}