{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block script %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="{{ asset('js/select_dependientes.js') }}"></script>

{% endblock %}

{% block title %}Venue Search {{ parent() }}{% endblock %}



{% block content %}

<form {{ form_enctype(form) }} action="" method='post'>
	<fieldset>
		<legend>Venue Search</legend>
		<div class="span5">
			<div class="row">
				<div class="span3">
					<!-- <label>Select ocassion:</label> -->
					{{ form_widget(form.categoryocassion, { 'attr': {
						'placeholder' : 'Type your name...',
						'onChange' : 'cargaContenido(this.id)'
						} }) 
					}}
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<!-- <label>Select ocassion:</label> -->
					{# form_widget(form.ocassion) #}
					<select disabled="disabled" name="ocassion" id="ocassion">
						<option value="0">Select Ocassion...</option>
					</select>					
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<!-- <label>Select ocassion:</label> -->
					{{ form_widget(form.suburb) }}
				</div>

				<div class="span2">
					<!-- <label>Select ocassion:</label> -->
					{{ form_widget(form.distance) }}
				</div>
			</div>
			{{ form_widget(form._token) }}
			<div class="row">
        		<div class="span5 form-actions">            
            		<input type="submit" value="Submit" class="btn btn-danger">
        		</div>
        	</div>
        </div>
    </fieldset>
</form>
{% endblock %}