{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block script %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.timepicker.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/js/jquery.timepicker.js"></script> 

    <script>
    $(function() {
        $('.datepicker').datepicker({
            showOn: "button",
            buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
            buttonImageOnly: true
        });
    });
    $(function() {
    	$('.timepicker').timepicker();
    });

    </script>
{% endblock %}

{% block title %}Venue Search Results {{ parent() }}{% endblock %}


{% block content %}
	<div class="bit">
		{% for venue in vs %}
			<div id="form2">
				<!-- Título del formulario -->
        		<div>
           			<input name="watchlist" type="checkbox" value="yes" />Add to watchlist
           		</div> 
    		</div>
    		<img src="/img/venues/{{ venue.image }}" width="100" height="100" >
    		<form action="{{ path('venue_reserve', { 'ocassion_id': ocassion.id, 'venue_id': venue.id }) }}" id="form2" method="POST">
	    		<p>
	    			Venue: {{ venue.name }} <br>
	    			Ocassion: {{ ocassion.name }}
	      			When: <input type="text" name="venuedate" class="datepicker span2" required><br>
	      			Time: <input type="text" name="venuetime" class="timepicker span2" required><br>
	      			Bid Start: <input type="text" name="venuebid" class="datepicker span2" required><br>
	      			Location: {{ venue.address }}<br>
	      			Seat Price: ${{ ocassion.price }} AU<br>
					Bid end date: Saturday 8th September 2012 8.00pm
				</p>
				<input type="submit" class="enviar" value="Reserve">					
			</form><!-- 
				<form name="details" action="{{ path('venue_details', { 'ocassion_id': ocassion.id, 'venue_id': venue.id }) }}" method="POST">
					<div><button class="btn btn-primary">More details</button></div>
				</form>
			</table>
		</div>	 -->
		{% endfor %}
	</div>
{% endblock %}