<html lang="en">

<head>    
    <link href="{{ asset('bundles/just2frontend/css/estilo1.css') }}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">       
    <title>{% block title %}{% endblock %} - Just2</title>
    <script src="{{ asset('bundles/just2frontend/js/jquery.js') }}"></script>
    {% block script %}
    {% endblock %}
</head>

<body>
    <div id="wrap">
        <div id="allnavigation">
            <div id="navigation0">
                <ul>
                    <li><a href="#">Find Jobs</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">holidays</a></li>
                    <li><a href="#">SiteMap</a></li>
                    <li><a href="#">Advertise with us</a></li>
                </ul>
            </div>
            <div id="navigation1">
                <ul>
                    <li><a href="#">1,129,978 Members</a></li>
                    {% if app.user %}
                        <ul class="nav">
                            <li><a href="{{ path('user_view_show', { 'id': app.user.member.id }) }}">Welcome! {{app.user}} </a></li>
                            <li><a href="{{ path('usuario_logout') }}">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav">
                            <li><a href="{{ path('usuario_login') }}">Member Login</a></li>
                            <li><a href="{{ path('usuario_register') }}">Register</a></li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
            <div id="menu">
                <div id="logo"></div>
                <div id="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ path('date_search') }}">Date Search</a></li>
                        <li><a href="{{ path('venue_search') }}">Venue Search</a></li>
                        {% if app.user %}
                        <li><a href="{{ path('user_view_show', { 'id': app.user.member.id }) }}">My account</a></li>
                        {% endif %}
                        <li><a href="#">Dating Advice</a></li>
                    </ul>
                </div>      
            </div>
        </div>
        <div id="contenido">
            <br><br><br>
            {% block content %}{% endblock %}
            
            <div id="banner"><img src="{{ asset( '/bundles/just2frontend/images/banner.jpg' ) }}" width="950" height="87" /></div>
            <div id="downnav">
                <ul>
                <li><a href="#">Register |</a></li>
                <li><a href="#">My account |</a></li>
                <li><a href="#">Community |</a></li>
                <li><a href="#">Terms & Conditions |</a></li>
                <li><a href="#">Profile |</a></li>
                <li><a href="#">Quick date search |</a></li>
                <li><a href="#">Home |</a></li>
                <li><a href="#">Search shortlist |</a></li>
                <li><a href="#">Pending Acceptance |</a></li>
                <li><a href="#">Bid Declined |</a></li>
                <li><a href="#">Member Login |</a></li>
                <li><a href="#">Bid Accepted |</a></li>
                <li><a href="#">Winning bid |</a></li>
                </ul>
            </div>
        </div>  
    </div>
</body>

</html>